// --------------------------------
// BaseKit Baseplate Theme (v1.0)
// --------------------------------

// -----------------------------
// #Table of Contents
// -----------------------------

// 1. #LESS INCLUDES
// 2. #PAGE SETTINGS
// 3. #TEMPLATE STYLES




// -----------------------------
// 1. #LESS Includes
// -----------------------------

@import "@{templateCommon}/bk-less-framework-v8.less"; // BaseKit LESS Framework

// Template Includes
@import "@{templateLocal}/less/theme.less"; // Theme
@import "@{templateLocal}/less/widgets.less"; // Widgets




// -----------------------------
// 2. #Page Settings **
// -----------------------------

@bp-content:   ~"only screen and (max-width: 1200px)";

// Body
// --------------

body {
    background-color: @color__body--background;
}

// Page Container
// --------------

.container {
	margin: 0 auto;
    padding: 30px 100px;
    @media @bp-content {
        padding: 30px 50px;
    }
    @media @tablet {
        padding: 30px;
    }
    @media @mobile {
        padding: 20px;
    }
}

// Main Zone
// --------------

.main-zone {
    display: none;
}

// Feature tpl-hidden
// --------------

.feature {
    width: 55%;
    position: fixed;

    @media @tablet {
        width: 100%;
        position: relative;
    }
}

.widget[data-widget-type="feature"] {
    .widget-overlay {
        width: 55% !important;
        height: 100vh!important;
        position: fixed!important;
        @media @tablet {
            position: absolute!important;
            width: 100%!important;
            height: 100%!important;
        }
    }
}

// Right Section
// --------------

.right-section {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    width: 45%;
    margin-left: 55%;
    height: 100vh;
    @media @tablet {
        width: 100%;
        margin-left: 0;
    }
    @media @tablet {
        display: block;
        background-color: #f2f2f2;
        height: inherit;
    }
}


// Right Section Content
// ---------------------

.headline-container {
    h2 {
        font-family: @font__h4--font-family;
        font-size: @font__h4--font-size;
        color: @color__h4--text;
    }
}

.profile__companydescription {
    h3 {
        color: @color__p--text;
        font-size: @font__p--font-size;
        font-family: @font__p--font-family;
        line-height: @font__p--line-height;
    }
}

.socialicons-container {
    margin: 20px 0;
    @media @tablet {
        margin: 10px 0 20px;
    }
}

.button-container {
    margin: 40px 0;
    @media @tablet {
        margin: 20px 0;
    }
}


// bk-tpl-hidden
// --------------


.widget[data-widget-type="feature"].bk-tpl-hidden + .right-section {
    width: 100%;
    margin-left: 0;
    margin: 0px auto;
    padding: 20px 20%;
    @media @tablet {
        padding: 20px 4%;
        margin: 0;
    }
}

.widget[data-widget-type="feature"].bk-tpl-hidden + .feature-footer {
    display: none;
}




// -----------------------------
// 3. #Template Styles
// -----------------------------


// Bk-pt-default

.bk-pt-default .container {
    width: 60%;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

.template-content {
	width: 100%;
	margin: 0px auto;
    -webkit-font-smoothing: antialiased;

    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
	@media @tablet {
		position: relative;
        margin-top: -100px;
        background-color: @color__body--background;
        padding: 20px;
        z-index: 99991;
	}
}

.widget--zone-widget {
    margin: 0 0 10px;
}
