<!-- Footer -->
<footer class="template-footer">

    <div class="profile-widget-container">

        <div class="widget-profile-one">

            {{widget('profile', 'email', { 'profileType':'email', 'email':'profile'})|raw}}

        </div>

        {{widget('profile', 'phone', { 'profileType':'phone', 'phone':'profile'})|raw}}

    </div>

</footer>
<!-- End Footer -->
