<!-- Footer -->
<footer class="template-footer">

    <div class="profile-widget-container">

            {{widget('profile', 'email', { 'profileType':'email', 'email':'profile'})|raw}}

    </div>

</footer>
<!-- End Footer -->
