<div class="right-section container">

    <!-- Page Content -->
    <section class="template-content">

        <!-- Main Widet Zone -->
        {{zone('main')|raw}}

        {% include "includes/footer.twig" %}

    </section>
    <!-- End Page Content -->

</div>
